<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.wms_dao.User.UserMapper">
    <sql id="Base_Column_List">
      userId,realName,userType,u.groupId,u.companyId,deptId,jobId,email,u.phone,telPhone,PIN,sex,employType
    </sql>
    <select id="GetUserList" resultType="com.yx.model.User.User" parameterType="java.util.HashMap">
        SELECT g.companyName as groupName,c.companyName,
        <include refid="Base_Column_List"/>
        FROM erp_user u
        LEFT JOIN erp_company g ON u.groupId = g.companyId
        LEFT JOIN erp_company c ON u.companyId = c.companyId
        WHERE u.validate='Y' AND u.groupId=#{groupId}
        <if test="phone!=null">AND u.phone = #{phone,jdbcType=NVARCHAR}</if>
        <if test="realName!=null">AND u.realName = #{realName,jdbcType=NVARCHAR}</if>
        <if test="companyId!=null">AND u.companyId = #{companyId,jdbcType=NVARCHAR}</if>
    </select>
    <select id="CheckLogin" resultType="com.yx.model.User.User" parameterType="java.lang.String" >
        SELECT g.companyName groupName,c.companyName,
        <include refid="Base_Column_List"/>
        FROM erp_user u
        LEFT JOIN erp_company g ON u.groupId = g.companyId
        LEFT JOIN erp_company c ON u.companyId = c.companyId
        WHERE passWord=#{passWord} AND u.phone=#{phone} AND u.validate='Y'
    </select>
</mapper>
